# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
.pnpm-debug.log*

# Logs
logs
*.log
logs/*

# Debugging directories
*.pid
*.seed
*.pid.lock

# Build directories
dist/
build/
coverage/
.out/
.next/

# Runtime data
pids/
*.pid
*.seed
*.pid.lock
*.log
*.
# miscellaneous
.DS_Store
